/* Font download */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/* Font download */

/* Variables */
:root {
  /* Primary */
  --primary-blue: hsl(243, 87%, 12%);
  --sec-blue: hsl(238, 22%, 44%);

  /* Accent */
  --tertiary-blue: hsl(224, 93%, 58%);
  --mid-blue: hsl(170, 45%, 43%);

  /* Neutral */
  --lightest-grey-blue: hsl(240, 75%, 98%);
  --light-grey: hsl(0, 0%, 75%);

  /* Font Size */
  --body-ff: 16px;
}
/* Variables */

/* Body & Utilities */
body {
  font-family: "Open Sans", sans-serif;
  padding: 2rem 4rem;
  overflow-x: hidden;
}
/* Body & Utilities */

/* Nav Section */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  padding: 15px 0px;
  margin-bottom: 4rem;
}

nav .logo img {
  width: 120px;
  height: auto;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

nav ul li:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

main {
}

.hero {
  display: flex;
}
/* Nav Section */
